In [70]:
import pandas as pd
import pickle as pkl
import numpy as np
import os
BASE_DIR = os.getcwd()

# Build an absolute path to the pickle file
mop_path = os.path.join(BASE_DIR, 'model', 'mop_pl.pkl')
fop_path = os.path.join(BASE_DIR, 'model', 'fop_pl.pkl')
mhos_path = os.path.join(BASE_DIR, 'model', 'mhos_pl.pkl')
fhos_path = os.path.join(BASE_DIR, 'model', 'fhos_pl.pkl')

mopm = pkl.load(open(mop_path,'rb'))
fopm = pkl.load(open(fop_path, 'rb'))
mhosm = pkl.load(open(mhos_path, 'rb'))
fhosm = pkl.load(open(fhos_path, 'rb'))

In [23]:
df = pd.read_csv(r'dataset\Covid Patient list- Population Data.csv', na_values=[97,98,99])
df.info()
df.drop(columns=['id','entry_date', 'date_symptoms', 'date_died'], inplace=True)
df.info()
print(df.shape)
df.drop_duplicates(inplace=True)
print(df.shape)
print(df.head(10))
for i in ['sex', 'patient_type', 'intubated', 'pneumonia', 'pregnancy',
       'diabetes', 'copd', 'asthma', 'inmsupr', 'hypertension',
       'other_disease', 'cardiovascular', 'obesity', 'renal_chronic',
       'tobacco', 'contact_other_covid', 'icu']:
       df[i] = df[i].replace({2:0})
       df[i] = pd.Categorical(df[i])
df['covid_res'] = df['covid_res'].replace({3:2})
print(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566602 entries, 0 to 566601
Data columns (total 23 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   566599 non-null  object
 1   sex                  566602 non-null  int64
 2   patient_type         566602 non-null  int64
 3   entry_date           566602 non-null  object
 4   date_symptoms        566602 non-null  object
 5   date_died            566602 non-null  object
 6   intubated            121789 non-null  float64
 7   pneumonia            566591 non-null  float64
 8   age                  566395 non-null  float64
 9   pregnancy            277903 non-null  float64
 10  diabetes             564621 non-null  float64
 11  copd                 564853 non-null  float64
 12  asthma               564850 non-null  float64
 13  inmsupr              564622 non-null  float64
 14  hypertension         564778 non-null  float64
 15  other_disease        564004 non-null  float64
 16  cardiovascular       564780 non-null  float64
 17  obesity              564821 non-null  float64
 18  renal_chronic        564810 non-null  float64
 19  tobacco              564695 non-null  float64
 20  contact_other_covid  391571 non-null  float64
 21  covid_res            566602 non-null  int64
 22  icu                  121788 non-null  float64
dtypes: float64(16), int64(3), object(4)
memory usage: 99.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566602 entries, 0 to 566601
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   sex                  566602 non-null  int64
 1   patient_type         566602 non-null  int64
 2   intubated            121789 non-null  float64
 3   pneumonia            566591 non-null  float64
 4   age                  566395 non-null  float64
 5   pregnancy            277903 non-null  float64
 6   diabetes             564621 non-null  float64
 7   copd                 564853 non-null  float64
 8   asthma               564850 non-null  float64
 9   inmsupr              564622 non-null  float64
 10  hypertension         564778 non-null  float64
 11  other_disease        564004 non-null  float64
 12  cardiovascular       564780 non-null  float64
 13  obesity              564821 non-null  float64
 14  renal_chronic        564810 non-null  float64
 15  tobacco              564695 non-null  float64
 16  contact_other_covid  391571 non-null  float64
 17  covid_res            566602 non-null  int64
 18  icu                  121788 non-null  float64
dtypes: float64(16), int64(3)
memory usage: 82.1 MB
(566602, 19)
(89945, 19)
   sex  patient_type  intubated  pneumonia   age  pregnancy  diabetes  copd  \
0    2             1        NaN        2.0  27.0        NaN       2.0   2.0
1    2             1        NaN        2.0  24.0        NaN       2.0   2.0
2    1             2        2.0        2.0  54.0        2.0       2.0   2.0
3    2             2        2.0        1.0  30.0        NaN       2.0   2.0
4    1             2        2.0        2.0  60.0        2.0       1.0   2.0
5    2             2        2.0        1.0  47.0        NaN       1.0   2.0
6    2             2        2.0        2.0  63.0        NaN       2.0   2.0
7    1             1        NaN        2.0  56.0        2.0       2.0   2.0
8    1             1        NaN        2.0  41.0        2.0       2.0   2.0
9    1             2        1.0        1.0  39.0        2.0       2.0   2.0

   asthma  inmsupr  hypertension  other_disease  cardiovascular  obesity  \
0     2.0      2.0           2.0            2.0             2.0      2.0
1     2.0      2.0           2.0            2.0             2.0      2.0
2     2.0      2.0           2.0            2.0             2.0      1.0
3     2.0      2.0           2.0            2.0             2.0      2.0
4     2.0      2.0           1.0            2.0             1.0      2.0
5     2.0      2.0           2.0            2.0             2.0      2.0
6     2.0      2.0           1.0            2.0             2.0      2.0
7     2.0      2.0           1.0            2.0             2.0      2.0
8     2.0      2.0           2.0            2.0             2.0      2.0
9     2.0      2.0           2.0            2.0             2.0      1.0

   renal_chronic  tobacco  contact_other_covid  covid_res  icu
0            2.0      2.0                  2.0          1  NaN
1            2.0      2.0                  NaN          1  NaN
2            2.0      2.0                  NaN          1  2.0
3            2.0      2.0                  NaN          1  2.0
4            2.0      2.0                  NaN          1  2.0
5            2.0      2.0                  NaN          1  1.0
6            2.0      2.0                  NaN          1  2.0
7            1.0      1.0                  1.0          1  NaN
8            2.0      2.0                  NaN          1  NaN
9            2.0      2.0                  NaN          1  2.0
  sex patient_type intubated pneumonia   age pregnancy diabetes copd asthma  \
0   0            1       NaN       0.0  27.0       NaN      0.0  0.0    0.0
1   0            1       NaN       0.0  24.0       NaN      0.0  0.0    0.0
2   1            0       0.0       0.0  54.0       0.0      0.0  0.0    0.0
3   0            0       0.0       1.0  30.0       NaN      0.0  0.0    0.0
4   1            0       0.0       0.0  60.0       0.0      1.0  0.0    0.0
5   0            0       0.0       1.0  47.0       NaN      1.0  0.0    0.0
6   0            0       0.0       0.0  63.0       NaN      0.0  0.0    0.0
7   1            1       NaN       0.0  56.0       0.0      0.0  0.0    0.0
8   1            1       NaN       0.0  41.0       0.0      0.0  0.0    0.0
9   1            0       1.0       1.0  39.0       0.0      0.0  0.0    0.0

  inmsupr hypertension other_disease cardiovascular obesity renal_chronic  \
0     0.0          0.0           0.0            0.0     0.0           0.0
1     0.0          0.0           0.0            0.0     0.0           0.0
2     0.0          0.0           0.0            0.0     1.0           0.0
3     0.0          0.0           0.0            0.0     0.0           0.0
4     0.0          1.0           0.0            1.0     0.0           0.0
5     0.0          0.0           0.0            0.0     0.0           0.0
6     0.0          1.0           0.0            0.0     0.0           0.0
7     0.0          1.0           0.0            0.0     0.0           1.0
8     0.0          0.0           0.0            0.0     0.0           0.0
9     0.0          0.0           0.0            0.0     1.0           0.0

  tobacco contact_other_covid  covid_res  icu
0     0.0                 0.0          1  NaN
1     0.0                 NaN          1  NaN
2     0.0                 NaN          1  0.0
3     0.0                 NaN          1  0.0
4     0.0                 NaN          1  0.0
5     0.0                 NaN          1  1.0
6     0.0                 NaN          1  0.0
7     1.0                 1.0          1  NaN
8     0.0                 NaN          1  NaN
9     0.0                 NaN          1  0.0

In [24]:
op = pd.DataFrame(df.loc[df['patient_type']==1])
op.drop(columns=['icu', 'intubated', 'patient_type'], inplace=True)
print(op.info())
print(op['covid_res'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 41585 entries, 0 to 566601
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  41585 non-null  category
 1   pneumonia            41575 non-null  category
 2   age                  41521 non-null  float64
 3   pregnancy            20724 non-null  category
 4   diabetes             40609 non-null  category
 5   copd                 40744 non-null  category
 6   asthma               40742 non-null  category
 7   inmsupr              40613 non-null  category
 8   hypertension         40698 non-null  category
 9   other_disease        40375 non-null  category
 10  cardiovascular       40733 non-null  category
 11  obesity              40762 non-null  category
 12  renal_chronic        40727 non-null  category
 13  tobacco              40647 non-null  category
 14  contact_other_covid  27993 non-null  category
 15  covid_res            41585 non-null  int64
dtypes: category(14), float64(1), int64(1)
memory usage: 1.5 MB
None
covid_res
2    26039
1    15546
Name: count, dtype: int64

In [25]:
hos = pd.DataFrame(df.loc[df['patient_type']==0])
hos.drop(columns=['patient_type'], inplace=True)
print(hos.info())
print(hos['covid_res'].value_counts())
print(hos['icu'].value_counts())
print(hos['intubated'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 48360 entries, 2 to 566593
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  48360 non-null  category
 1   intubated            48237 non-null  category
 2   pneumonia            48359 non-null  category
 3   age                  48270 non-null  float64
 4   pregnancy            21372 non-null  category
 5   diabetes             47723 non-null  category
 6   copd                 47807 non-null  category
 7   asthma               47806 non-null  category
 8   inmsupr              47711 non-null  category
 9   hypertension         47782 non-null  category
 10  other_disease        47369 non-null  category
 11  cardiovascular       47745 non-null  category
 12  obesity              47762 non-null  category
 13  renal_chronic        47782 non-null  category
 14  tobacco              47750 non-null  category
 15  contact_other_covid  26169 non-null  category
 16  covid_res            48360 non-null  int64
 17  icu                  48236 non-null  category
dtypes: category(16), float64(1), int64(1)
memory usage: 1.8 MB
None
covid_res
2    25992
1    22368
Name: count, dtype: int64
icu
0.0    40767
1.0     7469
Name: count, dtype: int64
intubated
0.0    41069
1.0     7168
Name: count, dtype: int64

In [45]:
mop = pd.DataFrame(op.loc[op['sex']==0])
fop = pd.DataFrame(op.loc[op['sex']==1])
mop.drop(columns=['pregnancy','sex'], inplace=True)
fop.drop(columns=['sex'], inplace=True)
fop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21516 entries, 7 to 566513
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pneumonia            21511 non-null  category
 1   age                  21477 non-null  float64
 2   pregnancy            20724 non-null  category
 3   diabetes             21043 non-null  category
 4   copd                 21110 non-null  category
 5   asthma               21103 non-null  category
 6   inmsupr              21033 non-null  category
 7   hypertension         21087 non-null  category
 8   other_disease        20910 non-null  category
 9   cardiovascular       21093 non-null  category
 10  obesity              21116 non-null  category
 11  renal_chronic        21095 non-null  category
 12  tobacco              21080 non-null  category
 13  contact_other_covid  14507 non-null  category
 14  covid_res            21516 non-null  int64
dtypes: category(13), float64(1), int64(1)
memory usage: 779.0 KB

In [27]:
mhos = pd.DataFrame(hos.loc[hos['sex']==0.0])
fhos = pd.DataFrame(hos.loc[hos['sex']==1.0])
mhos.drop(columns=['pregnancy','sex'], inplace=True)
fhos.drop(columns=['sex'], inplace=True)
fhos['pregnancy'].value_counts()

pregnancy
0.0    20742
1.0      630
Name: count, dtype: int64

In [ ]:
mhos.dropna(inplace=True)
mop.dropna(inplace=True)
mop.reset_index(drop=True, inplace=True)

In [ ]:
mop[mop['covid_res']==2].index

Index([ 4729,  4730,  4731,  4732,  4733,  4734,  4735,  4736,  4737,  4738,
       ...
       12650, 12651, 12652, 12653, 12654, 12655, 12656, 12657, 12658, 12659],
      dtype='int64', length=7931)

In [ ]:
cols = list(mop.columns)

In [74]:
yp = mopm.predict(mop.loc[mop[mop==2].index, cols[:-1]])
len(yp[yp==1])

8856

In [76]:
mop.loc[np.where(yp==2)[0], cols[:-1]]

,pneumonia,age,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid
15,0.0,44.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
18,0.0,53.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
146,0.0,22.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
169,0.0,59.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
190,0.0,47.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12641,0.0,69.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
12642,0.0,16.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
12648,1.0,27.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12653,1.0,60.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
12657,0.0,44.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [58]:
mop['covid_res'][12655]

np.int64(2)

In [77]:
fop.dropna(inplace=True)
fop.reset_index(drop=True, inplace=True)

In [78]:
cols = list(fop.columns)
yp = fopm.predict(fop.loc[fop[fop==2].index, cols[:-1]])
len(yp[yp==1])

8773

In [79]:
fop.loc[np.where(yp==2)[0], cols[:-1]]

,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid
0,0.0,56.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
62,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
71,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
118,0.0,70.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
143,1.0,39.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13162,0.0,89.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13163,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
13165,0.0,83.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
13171,0.0,41.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0